@import "~assets/scss/_browsers.scss";

$blue: #4589a2;
$deepBlue: #0d4e7c;
$orange:#e95522;

@font-face {
    font-family: 'robotoblack';
    src: url('~static/fonts/roboto-black-webfont.woff2') format('woff2'),
         url('~static/fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}